/* css selectors guide: https://www.w3schools.com/cssref/css_selectors.asp */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap');
:root {
  /* Colors */
  --color-black: black;
  --color-orange: orange;
  
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Source Sans Pro', sans-serif;
  --font-serif: 'Cochin', 'YuGothic', 'Yu Gothic', serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
}

a {
	color: var(--color-black);
	text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

a:hover {
	color: var(--color-orange);
}

header {
  background-color: rgb(255, 255, 255);
  top: 0px;
  height: 85px;
  width: 100%;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  z-index: 3;
  padding: 10px;
}

nav {
  padding: 8px;
  float: right;
}

ul {
	list-style: none;
}

nav > ul > li {
	display: inline-block;
	padding: 10px
}

@media all and (max-width: 600px) {
	header {
		margin: 10px;
		text-align: center;
	}
	header > nav {
		line-height: 1;
    float: none;
	}
}

footer {
  position: relative;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  background-color: #f1f1f1;
  color: #000000;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid;
}

footer a:hover {
  border-bottom: 1px transparent;
}

main {
  position: relative;
  min-height: 100vh
}

#BLOG {

  padding: 0 0 30px;
}

.page-banner{
  background: #FFE5CC;
  padding: 10px 0;

}

.page-banner h1, .page-banner p{
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

#blog-list, #add-blog {
  margin: 30px;
}

#blog-list ul, #tabbed-content ul{
  list-style-type: none;
  padding: 0;
}

#blog-list input{
  width: 90%;
  max-width: 300px;
  margin: 20px auto;
  display: inline-block;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #444;
}

#CAREER li, #SKILL li, #WORKS li, #blog-list li{
  padding: 20px;
  border-left: 5px solid #ddd;
  margin: 20px 10px;
}

#CAREER li:hover, #SKILL li:hover, #WORKS li:hover, #blog-list li:hover{
  border-color: orange;
}

.wrapper {
  width: 90%;
  max-width: 960px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px orange, 0 0 5px 3px orange;
  margin: 100px auto;
  overflow: hidden;
}

.btn {
  float: right;
  background: orange;
  margin-right: 10px;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  display: none;
}

.edit:hover, .delete:hover{
  background: #333;
}

.detail {
  display: none;
  padding: 10px;
}

.add-wrapper {
  margin: 20px 0;
}

.edit-wrapper {
  margin: 10px 0;
  display: none;;
}

#add-blog input, #add-blog textarea, #edit-blog input, #edit-blog textarea {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 300px;
}
textarea::-webkit-input-placeholder {
  color: #ccc;
}

#add-blog button {
  border: 1px solid orange;
  background: orange;
  padding: 10px 20px;
  font-size: 16px;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  border-left: 0;
  color: white;
}

#add-blog:after{
  content: '';
  display: block;
  clear: both;
}

#add-blog #hide{
  width: 30px;
}

#add-blog label{
  line-height: 52px;
}

#cancel {
  border: 1px solid orange;
  background: white;
  padding: 10px 20px;
  font-size: 16px;
  display: inline;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  border-left: 2;
  color: orange;
}

#save {
  border: 1px solid orange;
  background: orange;
  padding: 10px 20px;
  font-size: 16px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  border-left: 0;
  color: white;
}
